@model int

<h2>Ваш индекс: @Model</h2>
<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="ChangeUserName">Change user name</a>
</div>
<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="ChangePass">Change password</a>
</div>
<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="ChangeVisible">Change visibility</a>
</div>
